@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --magenta: #991871;
  --ciano-escuro: #88C8D4;
  --verde-petroleo: #1D4C5A;
  --rosa: #FADEF1;
  --ciano: #C5F0F8;
  --menta: #E7F8FD;
  --rosa-claro: #FFF5FC;
  --menta-claro1: #ECFCFF;
  --menta-claro2: #F6FDFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}