@import "tailwindcss";

@theme {
  --color-magenta: #991871;
  --color-ciano-escuro: #88C8D4;
  --color-verde-petroleo: #1D4C5A;
  --color-rosa: #FADEF1;
  --color-ciano-mais-escuro: #1be914b4;
  --color-ciano: #C5F0F8;
  --color-menta: #E7F8FD;
  --color-rosa-claro: #FFF5FC;
  --color-menta-claro1: #ECFCFF;
  --color-menta-claro2: #F6FDFF;
  --color-text: #343434;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-condensed: 'Roboto Condensed', sans-serif;
}

:root {

  .ProseMirror:focus {
    outline: none;
  }

  button:hover svg path {
    stroke: var(--ciano-escuro) !important;
  }

  .custom-dropcursor {
    height: 5px !important;
    border-width: 2px !important;
  }

  h1 {
    font-size: 2.25rem;
  }

  .custom-h1 {
    font-size: 48px;
  }  

  h2 {
    font-size: 1.875rem;
  }

  .custom-h2 {
    font-size: 27px;
  }  

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  ol {
    list-style: decimal;
    margin-left: 1.5rem;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }

  li::marker {
    color: var(--text);
  }

  .custom-li::marker {
    color: var(--verde-petroleo);
  }

  menu {
    list-style: disc;
    margin-left: 1.5rem;
  }
}