@import "tailwindcss";

:root {
  --magenta: #991871;
  --ciano-escuro: #88C8D4;
  --verde-petroleo: #1D4C5A;
  --rosa: #FADEF1;
  --ciano: #C5F0F8;
  --menta: #E7F8FD;
  --rosa-claro: #FFF5FC;
  --menta-claro1: #ECFCFF;
  --menta-claro2: #F6FDFF;
}