@import "tailwindcss";

:root {
  --magenta: #991871;
  --ciano-escuro: #88C8D4;
  --verde-petroleo: #1D4C5A;
  --rosa: #FADEF1;
  --ciano: #C5F0F8;
  --menta: #E7F8FD;
  --rosa-claro: #FFF5FC;
  --menta-claro1: #ECFCFF;
  --menta-claro2: #F6FDFF;
  --text: #343434;

  .ProseMirror:focus {
    outline: none;
  }

  .custom-dropcursor {
    height: 5px !important;
    border-width: 2px !important;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  .custom-h2 {
    font-size: 27px;
  }  

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  ol {
    list-style: decimal;
    margin-left: 1.5rem;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }

  li::marker {
    color: var(--text);
  }

  menu {
    list-style: disc;
    margin-left: 1.5rem;
  }
}